@media (min-width:1080px){
    .menu {
        padding: 1em 0 1em;
    }

    .social_media img{

		width: 3%;
        margin: 1%
		
	}

    #footer .copyright{
        padding: 0;
        text-transform:uppercase;
        font-size: 0.8em;
        color: rgba(255,255,255,0.5);
    }

    .submit {
        background-color: #0e1629;
        padding: 12px 45px;
        border-radius: 5px;
        cursor: pointer;
        color: #ffffff;
        border: none;
        outline: none;
        margin: 0;
        font-weight: bold;
    }
}